<ion-content *ngIf="mostrarFormulario">
  <app-pagina [formGroup]="formGroup" [podeFechar]="false" (submit)="registrar()">
    <div class="titulo">
      <small>[:.:.Nellika's Server.:.:] Always one step ahead</small>
    </div>

    <div class="subtitulo">
      O server is not ready yet, but you can now register to receive warnings about
      o progress of development!
    </div>

    <ion-item>
      <ion-label position="floating">Username</ion-label>
      <ion-input formControlName="name" type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">E-mail <small>Email verification will be required soon</small></ion-label>
      <ion-input #email formControlName="email" type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Mobile Phone <small>Phone verification required soon</small></ion-label>
      <ion-input [brmasker]="{form: formGroup.get('celular'), phone: true}"
                 formControlName="celular" type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Password</ion-label>
      <ion-input formControlName="password" type="password"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Confirm password</ion-label>
      <ion-input formControlName="passwordConfirm" type="password"></ion-input>
    </ion-item>

    <div class="acoes">
      <button type="submit" [disabled]="!formGroup.valid" class="btn-enviar">Register</button>
    </div>
  </app-pagina>
</ion-content>
