<ion-content *ngIf="mostrarFormulario">
    <app-pagina [formGroup]="formGroup" [podeFechar]="false" (submit)="login()">
        <div class="titulo">Welcome back, {{ formGroup.controls.usuario.value }}!</div>

        <ion-item>
            <ion-label position="floating">Username</ion-label>
            <ion-input formControlName="user" type="text"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label position="floating">Password</ion-label>
            <ion-input #password formControlName="password" type="password"></ion-input>
        </ion-item>

        <div class="acoes">
            <button type="submit" [disabled]="!formGroup.valid" class="btn-enviar">Login</button>

            <a routerLink="esqueci-senha">Forgot your password?</a>
        </div>
    </app-pagina>
</ion-content>
